{% extends "back-layout.html.twig" %}


{% block content %}



            <h4>Mes observations</h4>


        <div class="col-xs-3 recherche">
            <div class="input-group input-group-md">
                <input type="text" class="form-control" placeholder="Recherche" style="border:0;">
                <span class="input-group-addon" style="border:0; background: white;">
                    <span class=" glyphicon glyphicon-search"></span></span>
            </div>
        </div>


    <div>

        <table class="table">
            <thead>
            <tr>
                <th>N°</th>
                <th>Oiseau</th>
                <th>Date</th>
                <th>Statut</th>
                <th>Observation</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for observation in observations %}
                <tr>
                    <td>
                        {{ observation.id }}
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}