{% extends "layout.html.twig" %}

{% block body %}

    <div class="col-sm-3 dashboard">
        <h5>Tableau de bord</h5>


        {{ render(controller('AppBundle:Back:menu')) }}

    </div>

    <div class="col-sm-9 cadre dashboard">
        {% block content %}

        {% endblock %}
    </div>
{% endblock %}