{% extends "layout.html.twig" %}

{% block body %}

    <h2>{{ page.title }}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('dashboard_administration') }}">
                <span class="glyphicon glyphicon-plus plus"
                      title="Modifier la page 'Qui sommes nous ?'"></span>
            </a>
        {% endif %}</h2>

    <div class="about"> {{ page.content|raw }}</div>

{% endblock %}