{% extends "layout.html.twig" %}

{% block body %}

    <h2>{% trans %}Actualités{% endtrans %}</h2>

    {% if listArticles is not empty %}
        <div >
            <div class="row">
                {% for article in listArticles %}
                {% if loop.index0 % 2 == 0 %}
            </div>
            <div class="row">
                {% endif %}

                <article class="col-lg-6 col-xs-12">

                    <h3>{{ article.title }}</h3>
                    <img src="{{ asset(article.photoWebPath) }}" alt="" width="180" height="200"
                         style="float: left; margin-right: 10px;">
                    <p>{{ article.content|striptags| truncate(300) | raw }}</p>
                    <p><a href="{{ path('article', {'id': article.id}) }}" style="float: right;">{% trans %}Lire la
                            suite...{% endtrans %}</a></p>

                </article>

                {% endfor %}
            </div><!-- row -->
        </div>
        {% include 'pagination.html.twig' %}
    {% else %}
        <p class="aucun">{% trans %}Il n'y a aucun article pour l'instant.{% endtrans %}</p>
    {% endif %}
{% endblock %}